#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Reload if any of these files change
watch_file .envrc.local

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi

if [ -f .envrc.local ]; then
  source_env .envrc.local

  export NIX_CONFIG="access-tokens = github.com=$NIX_GITHUB_TOKEN"
else
  echo "
WARNING: .envrc.local not found, please run \`cp .envrc.local.template .envrc.local\`  
and fill in the missing values."
fi

use_flake
